@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.container {
  box-sizing: border-box;
  max-width: 1600px;
  padding: 80px;
  margin: 0 auto;
}

.effectText {
  background-image: linear-gradient(to right, #082341, #1f78de);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title::before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #1356a3;
  display: block;
  border-radius: 2px;
}

.sub-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-top: 80px solid transparent;
  border-left: 40px solid #fff;
}

.sub-header-item-one::after {
  content: "";
  display: block;
  background: #fff;
  width: 2px;
  height: 1.5rem;
  margin: 0 1rem;
}

.animationToTop {
  animation: toTop 300ms ease-in-out;
}

.animationToBottom {
  animation: toBottom 300ms ease-out forwards;
}

@keyframes toTop {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes toBottom {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
}

.main-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("/public/assets/img06.jpg");
  background-size: cover;
  height: 675px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media (max-width: 1280px) {
  .main-bg {
    height: 500px;
  }
  .sub-header::before {
    display: none;
  }
  .sub-header-item-one::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 40px;
  }
}
